@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');


:root{
    --transition:all 700ms ease;
    
    --color-primary: #F7EBEC;
    --color-primary-variant: #ac97f7;
    --color-secondary: #57e5f8;
    --color-secondary-variant: #fc80d0;
    --color-bg: #3d3d3d;
}
*{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    background-color: var(--color-bg);
}
.container{
    display: flex;
    border: 1px solid var(--color-primary);
    border-radius: 15px;  
    padding: 15px;
    margin: 10px;
}

.btn{
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 3px; 
    color: var(--color-secondary);
    transition: var(--transition);
}   
.btn:hover{
    color: var(--color-bg);
    background-color: var(--color-primary-variant);
    border-color: var(--color-secondary-variant);
}

.element__green{
    color: rgb(153, 243, 63);
}

.element__red{
    color: rgb(253, 128, 55);
}